# Lab | Not hot songs

Importing libraries.

In [1]:
import pandas as pd
import numpy as np
import re
import random

Generate the random list of indexes to not consider when importing the file.

In [6]:
np.random.seed(42)
skip = list(np.random.permutation(26173500)[:26170515])
skip.sort()

Importing the file.

In [7]:
not_hot = pd.read_csv('charts.csv', skiprows=skip[1:]).iloc[:,:4]

In [8]:
not_hot = not_hot.drop(['rank','date'], axis=1)
not_hot

                               title                     artist
0                       Money Longer               Lil Uzi Vert
1     DUELE EL CORAZON (feat. Wisin)           Enrique Iglesias
2                          My Number                      Foals
3                       Lot to Learn           Luke Christopher
4                               Tlen             Taco Hemingway
...                              ...                        ...
2995                             BYE                      Jaden
2996                         Pillars                     My Anh
2997                    Gái Độc Thân                      Tlinh
2998   Renegade (feat. Taylor Swift)            Big Red Machine
2999                 Letter to Jarad  LRN Slime, Shiloh Dynasty

[3000 rows x 2 columns]

Import hot 100 songs dataframe.

In [4]:
hot100 = pd.read_csv('../../Morning/lab-web-scraping-single-page/hot100.csv').iloc[:,1:]

In [5]:
hot100.head()

       title                                artist
0    Flowers                           Miley Cyrus
1  Kill Bill                                   SZA
2   Creepin'  Metro Boomin, The Weeknd & 21 Savage
3  Anti-Hero                          Taylor Swift
4     Unholy                Sam Smith & Kim Petras

Check if there is no common songs between not hot and hot100.

In [9]:
index_to_remove = []
n=0
for s,a in zip(not_hot['title'], not_hot['artist']):
    if s in hot100['title'] and a in hot100['artist']: 
        index_to_remove.append(n)
    n += 1

Storing to a file.

In [10]:
not_hot.to_csv('not_hot.csv')